/*div[class^='plot-css'] {
    [class^='circle-raw'],
    [class^='circle-filtered'] {
        opacity: 0%;
    }
    [class^='line'] {
        opacity: 0%;
    }
}

*/
$gases: (
    co2: 0,
    ch4: 0,
    co: 0,
);

$sensors: (
    ma61: 0,
    mb86: 0,
    mc15: 0,
    md16: 0,
    me17: 0,
);

@each $sensor, $x in $sensors {
    @each $gas, $y in $gases {
        .plot-css-#{$gas}-#{$sensor} {
            .circle-raw-#{$gas}-#{$sensor} {
                opacity: 35% !important;
            }
            .circle-filtered-#{$gas}-#{$sensor} {
                opacity: 100% !important;
            }
            .interpolation-#{$gas}-#{$sensor} {
                opacity: 70% !important;
            }
        }
    }
    .plot-css-#{$sensor} {
        .circle-#{$sensor} {
            opacity: 85% !important;
        }
    }
}

@each $gas, $y in $gases {
    .y-axis-label-#{$gas}-,
    .y-axis-line-#{$gas}- {
        opacity: 100%;
    }
}

.plot-css-co2 {
    [class*='-ch4-'],
    [class*='-co-'] {
        opacity: 0%;
    }
}

.plot-css-ch4 {
    [class*='-co2-'],
    [class*='-co-'] {
        opacity: 0%;
    }
}

.plot-css-co {
    [class*='-ch4-'],
    [class*='-co2-'] {
        opacity: 0%;
    }
}

[class*='plot-css'] {
    [class*='circle'],
    [class*='interpolation'] {
        opacity: 0%;
    }
}
